body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

header {
    flex: 0 80px; 
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login {
    flex: 1;
}

nav {
    flex: 3;
}

footer {
    flex: 0;
}