body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

header {
    flex: 0 50px;
    background-color: steelblue;
}

main {
    display: flex;
    flex: 1 calc(100vh - 80px);
    flex-direction: column;
}

#home {
    flex-direction: row;
}

#login {
    flex: 1;
    flex-direction: column;
}

#tower_heading {
  text-align: center;
  margin-top: 1em;
}

#tower_selection {
    flex: 3;
    justify-content: space-evenly;
    align-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 1em;
  padding-left: 1em;
}

.tower_container {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  border-radius: 10px;
  margin: 1em;
}

li {
  color: dimgray;
}

#primary {
  background-color: rgb(154, 189, 254);
  color:azure;
}

#military {
  background-color:lightgreen;
  color:azure;
}

#magic {
  background-color:rgb(191, 170, 233);
  color: azure;
}

#support {
  background-color: burlywood;
  color: azure;
}

.tower_type {
  text-shadow:
    -1px -1px 0 dimgray,
    1px -1px 0 dimgray,
    -1px 1px 0 dimgray,
    1px 1px 0 dimgray;
}

nav a:link{
  color: dimgray;
}

nav a:visited {
  color: dimgray;
}

nav a:hover {
  color:azure;
}

nav a:active {
  color:lightgray;
}

footer {
    flex: 0 30px;
    background-color: steelblue;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16pt;
}

footer a:link {
  color: azure;
}

footer a:visited {
  color: azure;
}

footer a:hover {
  color: dimgray;
}

footer a:active {
  color: lightgray;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}