.base_stats {
    flex: 1;
    background-color: slategray;
    align-content: center;
    margin: 1em;
    border-radius: 10px;
    border-collapse: collapse;
}

.base_head {
    text-align: center;
    font-size: 14pt;
    border-width: 0 0 0 0;
}

.upgrade_table_container {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1em;
}

.upgrade_table {
    background-color: rgb(192, 208, 224);
    color: rgb(65, 65, 65);
    border-radius: 10px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-width: 1px 1px 0 0;
    border-color: rgb(65, 65, 65);
    border-style: solid;
    word-wrap: break-word;
    text-align: center;
}

.top_row {
    border-width: 0 1px 0 0;
}

.upgrade_table th:last-child {
    border-width: 0 0 0 0;
}

td:last-child {
    border-width: 1px 0 0 0;
}