.body {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    background-color: #212529;
    color: #f8f9fa;
    overflow-x: auto;
}

header {
    flex: 0 50px;
    background-color: steelblue;
    padding-left: 1em;
    overflow-x: auto;
}

main {
    display: flex;
    flex: 1 calc(100vh - 80px);
    flex-direction: row;
    overflow-x: auto;
}

#about {
    flex-direction: column;
}

#login {
    flex: 1;
    flex-direction: column;
    background-color:slategray;
    align-content: center;
}

#signup {
  background-color: lightgray;
}

#tower_heading {
  text-align: center;
  margin-top: 1em;
}

#tower_selection {
    flex: 3;
    justify-content: space-evenly;
    align-content: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-right: 1em;
  padding-left: 1em;
}

.tower_container {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  border-radius: 10px;
  margin: 1em;
}

li {
  color: dimgray;
}

.primary {
  background-color: rgb(154, 189, 254);
  color:azure;
}

.military {
  background-color:lightgreen;
  color:azure;
}

.magic {
  background-color:rgb(191, 170, 233);
  color: azure;
}

.support {
  background-color: burlywood;
  color: azure;
}

.tower_heading {
  text-shadow:
    -1px -1px 0 dimgray,
    1px -1px 0 dimgray,
    -1px 1px 0 dimgray,
    1px 1px 0 dimgray;
}

nav .a:link{
  color: rgb(65, 65, 65);
}

nav .a:visited {
  color: rgb(65, 65, 65);
}

nav .a:hover {
  color:azure;
}

nav .a:active {
  color:lightgray;
}

footer {
    flex: 0 30px;
    background-color: steelblue;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 16pt;
}

footer .a:link, a {
  color: azure;
}

footer .a:visited, a {
  color: azure;
}

footer .a:hover, a {
  color: dimgray;
}

footer .a:active, a {
  color: lightgray;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}