.base_stats {
    flex: 1;
    background-color: slategray;
    align-content: center;
    margin: 1em;
    border-radius: 10px;
    border-collapse: collapse;
}

.base_head {
    text-align: center;
    font-size: 14pt;
    border-width: 0 0 0 0;
}

.websocket {
    flex: 1;
    min-width: 150px;
    background-color: rgb(72, 88, 104);
    border-radius: 10px;
    margin-top: 10em;
    margin-bottom: 10em;
    margin-right: 1em;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.upgrade_table_container {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    gap: 2rem;
}

.upgrade_table {
    background-color: rgb(192, 208, 224);
    color: rgb(65, 65, 65);
    border-radius: 10px;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.path_label {
    background-color: slategray;
    color: azure;
    border-radius: 10px 0 0 0;
}

.upgrade_button, .last_upgrade_button {
    cursor: pointer;
    background-color: lightgreen;
    text-decoration: underline;
    transition: background-color 0.25s ease-in-out;
}

.upgrade_button:hover, .last_upgrade_button:hover {
    background-color: rgb(124, 218, 124);
}

.last_upgrade_button {
    border-radius: 0 10px 0 0;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px 1px 0 0;
    border-color: rgb(65, 65, 65);
    border-style: solid;
    word-wrap: break-word;
    text-align: center;
}

th:nth-child(1), td:nth-child(1) {
    width: 125px;
}

th:nth-child(2), td:nth-child(2) {
    width: 125px;
}

th:nth-child(3), td:nth-child(3) {
    width: 125px;
}

th:nth-child(4), td:nth-child(4) {
    width: 150px;
}

th:nth-child(5), td:nth-child(5) {
    width: 175px;
}

th:nth-child(6), td:nth-child(6) {
    width: 250px;
}

.change_cell {
    text-align: left;
}

.change_list {
    overflow-y: scroll;
    list-style-position: inside;
    height: 150px;
    padding-left: 0;
    padding-right: 0;
}

.change_list li {
    color: rgb(65, 65, 65);
}

.top_row {
    border-width: 0 1px 0 0;
}

.upgrade_table th:last-child {
    border-width: 0 0 0 0;
}

td:last-child {
    border-width: 1px 0 0 0;
}

.ability {
    font-weight: bold;
}